<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>入力画面</title>
</head>
<body>
	<form th:action="@{/calc}" method="post" th:object="${calcForm}">
		<div>
			<input type="text" th:field="*{leftNum}">
			+
			<input type="text" th:field="*{rightNum}">
		</div>
		<input type="submit" value="計算">
		<!-- ▽▽▽▽▽ リスト8.5 ▽▽▽▽▽ -->
		<!-- エラーを表示する -->
		<ul th:if="${#fields.hasErrors('*')}">
			<li th:each="err:${#fields.errors('*')}" th:text="${err}"></li>
		</ul>
		<!-- △△△△△ リスト8.5 △△△△△ -->
	</form>
</body>
</html>